{% from apicalls import apicalls %}
{% extends "base.html" %} 
{% block title %}Home{% endblock %} 

{% block content%}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">DCMS SYSTEM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="http://127.0.0.1:5000/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=http://127.0.0.1:5000/staff>Dental Staff</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:5000/patients">Patients</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:5000/reception">Receptionist</a>
      </li>
    </ul>
  </div>
</nav>

<ul class="list-group list-group-flush" id="branches">
    {% apicalls() %}

  <li class="list-group-item">
    <button type="button" class="close" >
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
</ul>
{% endblock %}